*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Times, serif;
    box-sizing: border-box;
}
body{
background-image: url(./wallpaperflare.com_wallpaper\(6\).jpg);
background-repeat: no-repeat;
background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgba(12, 53, 45, 0.438);
    padding: 20px ;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: zari 5s
     ease-in-out 1s infinite ;
    overflow: hidden;
}
.heading{

    color: white;
    margin-bottom: 2%;
    font-size: 2vw;

}

input{
    width: 50%;
    height: 50px;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    margin: 30px 0px;
    font-size:15px;

}

.textcontainer{
    width: 60%;
    margin: 15px 0px;
    color: rgb(240, 233, 233);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    font-style: italic;

}
.search{
    font-size:30px;
    color: white;
}

audio{
   width: 40%;
   height: 50px; 
   margin-top: 20px;
}
@media only screen and (max-width: 950px){
    .textcontainer{
        width: 60%;
        margin: 15px 0px;
        color: rgb(240, 233, 233);
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        font-size: 2vw;
        font-style: italic;
    
    }

    .container{
        background-color: rgba(12, 53, 45, 0.438);
        padding: 10px ;
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: zari 5s
         ease-in-out 1s infinite ;
        overflow: hidden;
    }
    .search{
        font-size: 2vw;
    }
}

#audio audio::-webkit-media-controls-panel
{
    color: rgb(12, 53, 45);
}
@media only screen and (max-width: 600px){
.container{
    height: 50%;
    justify-content: center;
}
}

@keyframes zari {
   0%{
        box-shadow: 0px 0px 30px 5px rgb(13, 56, 60);

    }
    
   50%{
        box-shadow: 0px 0px 55px 15px rgb(0, 0, 0);

    }
    100%{
        box-shadow: 0px 0px 30px 5px rgb(13, 56, 60);

    }
}
